#homepage {
  margin-top: 200px;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

// category
.home-category {
  width: 23%;
  height: 351px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  overflow: scroll;
  background-color: #fff;
  .box {
    padding: 0 20px;
    line-height: 50px;
    span {
      margin: 10px 20px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px;
      transition: 0.5s;
    }
    &:hover {
      cursor: pointer;
      span {
        color: #ea5867;
      }
    }
  }
}
// category
// Slider
.slide-container {
  width: 75%;
  ul {
    position: absolute;
    bottom: 20px;
    li {
      border: 2px solid #333;
      border-radius: 50%;
      padding: 10px;
      button {
        &::before {
          font-size: 15px;
          position: absolute;
          top: 2px;
          left: 0;
          margin: auto;
        }
      }
    }
  }
  .slide {
    width: 100%;
    height: auto;
    img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }
  }
}
